
@{  
    ViewBag.Title = "Dashboard";
}


<div class="row" style="margin-top:80px;">
    <h4>Post</h4>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Content</th>
        </tr>
        <tr>
            <td>@Model.Title</td>
            <td>@Model.Description</td>
            <td>@Model.Content</td>
        </tr>
    </table>

    <h4>Komentare</h4>
    <hr />
    <table class="table table-hover">
        <tr>
            <th>Komantar</th>
        </tr>
    </table>
</div>
<h4>Komentar hinzufügen</h4>
<hr />
<div class="form-group">

    <form action="~/Post/AddComment" method="post">
        <textarea hidden="true" name="id">@Model.Id</textarea>
        <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
        <br />

        <input type="submit" name="" value="Kommentar Hinzufügen" class="btn btn-primary">
        @ViewBag.Message
    </form>
</div>


<p>
    @Html.ActionLink("Zurück zur Liste", "Index")
</p>
